/*  logo */
#logo-container{
    padding:5px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  #logo-container p{
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #logo-container .logo-container--title{
    font-weight: bold;
  }
  
  /* #logo-container .logo-container--text{
  } */
  
  #logo-container .logo-container--btn{
    padding: 2px 5px;
    letter-spacing: 2px;
    background-color: #eee;
    border: 2px solid #555;
    border-radius: 5px;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

  
  .help-body{
    box-sizing: border-box;
    width: 100vw;
    max-width: 1800px;
    overflow-x: hidden;
    padding: 20px;
  }

  .know-more{
    line-height: 1.6;
    font-size: 24px;
    border: none;
    padding: 20px;
  }

  .know-more .title{
    text-align: center;
    margin-bottom: 20px;
  }

  .know-more .notes{
   background-color: #efefef;
   padding: 10px;
   border: 2px solid black;
   font-size: 18px;
  }


  .help-img{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .know-more img{
    width: 100%;
    height: auto;
    max-width: 831px;
    margin: auto;
  }

  @media (max-width:850px) {
    #logo-container {
      font-size: 10px;
    } 

    .know-more{
      font-size: 16px;
    }
  
  }