*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    user-select: none;
}

:root{
  --header-height: 40px;
  --scale-height: 60px;
  --fps-txt-height: 25px;
  --fps-margin-top: 2px;
  --process-proportion: 0.25;
  --control-proportion: calc(1 - var(--process-proportion));
  --canvas-height: calc(var(--vh, 1vh) * 100 - var(--header-height) - var(--fps-txt-height) - var(--fps-margin-top) );
  --min-canvas-height: 530px;
  --process-height: calc(var(--canvas-height) * var(--process-proportion));
  --control-height: calc(var(--canvas-height) * var(--control-proportion) - var(--scale-height));
}



select{
  cursor: pointer;
  outline: none;
}

header{
    height: var(--header-height);
    background-color: #555;
    display: flex;
    align-items: center;
    max-width: 1800px;
    margin: auto;
}

.main-navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

#canvas-container{
    width: 100%;
    max-width: 1800px;
    margin: auto;
    height: calc(100vh - var(--header-height));
    height: var(--canvas-height);
    min-height: var(--min-canvas-height);
    position: relative;
    overflow: hidden;
}

canvas{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#process{
    background-color: transparent;
    width: 100vw;
    max-width: 1800px;
    height: calc((100vh - var(--header-height)) * 0.25);
    height: var(--process-height);
    min-height: calc(var(--min-canvas-height) * var(--process-proportion));
    border-width: 4px;
    border-style: inset;
    display: flex;
    align-items: start;
    justify-content: center;
}

#control-panel{
    background-color: transparent;
    width: 100vw;
    max-width: 1800px;
    height: var(--control-height);
    min-height: calc(var(--min-canvas-height) * var(--control-proportion) - var(--scale-height));
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}

#mobile-navigator{
  display: none;
  
}

#left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-style: inset;
  margin: 5px;
  margin-top: -58px;
  
}


#center{
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   gap: 4px;
   margin-bottom: 5px;
   margin-top: 40px;
   padding: 0 5px;
}
#right{
   flex: 1;
   padding: 0 5px;
   margin-top: 70px;
   display: flex;
   flex-direction: column;
}

.flex-div{
  display: flex;
  width: 100%;
  flex: 1;
}





.radio-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    gap: 2px;
  }

.radio-panel div{
  display: flex;
  align-items: center;
}
  
.radio-panel label{
  padding: 3px;
}

.radio-panel input{
  transform: scale(1.3);
}

.radio-panel h4{
  color: black;
  padding: 0;
  margin-right: 5px;
  font-weight: normal;

}

/*  Luzes*/
.lights {
  /* width: 400px; */
  border: none;
  border-radius: 10px;
  background: none;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  
}

.circle {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  transition: all ease 0.3s;
  border: none;
}

.circle p{
  text-align: center;
  margin: 0;
  font-weight: bold;
  padding: 2px 5px;
  /* font-size: 10px; */
}


.circle.red {
  background-color: rgb(93, 0, 0);
  /* box-shadow: 0 0 3px 1px rgb(93, 0, 0); */
  color: rgb(127.5, 127.5, 127.5);
}

.circle.red.on {
  background-color: #ff1c1c;
  box-shadow: 0 0 15px 1px #ff0000;
  box-shadow: 0 0 15px 2px #ff0000;
  box-shadow: 0 0 15px 3px #ff0000;
  box-shadow: 0 0 15px 4px #ff0000;
  color: rgb(255, 255, 255);
}


.myCheckBox{
  font-weight: bold;
  display: flex;
  align-items: center;
  
}

.myCheckBox input{
  transform: scale(1.5);
  margin-right: 2px;
}

/* .myCheckBox label{
  font-size: 10px;
} */

.BigCheck{
  display: flex;
  align-items: center;
}
/* .BigCheck label{
  font-size: 12px;
} */

.BigCheck input{
  transform: scale(1.2);
  margin-right: 5px;
}





/* CSS */
.signal-btn {
  margin-top: 15px;
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 10px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.signal-btn:disabled {
  cursor: default;
  opacity: .3;
}

.signal-btn:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.signal-btn:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.signal-btn:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.signal-btn.perturb-btn{
  background-image: linear-gradient(rgb(121, 88, 17), rgb(226, 167, 40));
  border: 1px solid rgb(200, 150, 39);
}

.signal-btn:hover.perturb-btn{
  background-image: linear-gradient(rgb(90, 65, 12), rgb(184, 135, 30));
  border: 1px solid rgb(156, 117, 32);
}

/* .component-label {
  font-size: 10px;
} */

#fps-text{
  height: var(--fps-txt-height);
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  max-width: 1800px;
  margin: auto;
  margin-top: 1px;
  margin-bottom: 0;

}

#fps-text div{
  color: #ffffff;
  flex: 1;
  /* font-size: 10px; */
  /* text-align: center; */
}

@media (max-width:1000px) {
  *{
    font-size: 12px;
  }
}

@media (max-width:850px) {

  :root{
    --header-height: 30px;
    --scale-height: 70px;
    --process-proportion: 0.15;
  }

  *{
    font-size: 12px;
  }


  .myCheckBox label{
    font-size: 8px;
  }
  .BigCheck label{
    font-size: 10px;
  }
  
  .myCheckBox.BigCheck input{
    transform: scale(1);
    margin-right: 1px;
  }

  #mobile-navigator{
    display: flex;
    margin: 2px 5px;
    width: 99%;
  }
  
  #control-panel{
      flex-direction: column;
      align-items: center;
      
  }




  

    /* .component-label {
        display: none;
    } */
    #left,
    #center,
    #right{
        /* width: 100% !important; */
        margin-top: 0;
        display: none;
    }
    #left.active,
    #center.active,
    #right.active{
        width: 100% !important;
        display: flex;
    }

    
    #center{
        order: 1;
    }
    #left{
        order: 2;
        margin-top: 10px;
    }
    #right{
        order: 3;
    }

  }

@media (max-width: 670px) {


    .component-label {
        /* display: none; */
        font-size: 10px;
    }

    
  }