
#dynamometer{
    height: 40%;
    width: 100%;
    border-style: inset;
    display: flex;
    flex-direction: column;
    max-height: 250px;
}

#dynamometer-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dynamometer-title div{
  flex: 1;
  padding: 2px;
  text-align: center;
  font-weight: bold;
}


#dynamometer-container{
  flex: 1;
}

#controller-actuator-outputs{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    max-height: 250px;
}

#controller-actuator-outputs div {
    flex: 1;
    border-style: inset;
    height: 100%;
}


#auto-man-checkboxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px 5px 10px;
}


/* Painel Variáveis Process */
#panel-process-variables{
    /* border: 2px solid #555; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    overflow: hidden;
    width: 100%;
    background-color: #fff;
  }

  .variables-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #aaa; */
  }

  .process-variable{
    display: flex;
    align-items: center;
    gap: 2px;
    min-width: 95px;
  }

  .process-variable label{
    font-weight: bold;
  }



  /* inputs */
.panels-wrapper{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  border-style: outset;
  border-top-width: 0px;
  gap: 5px;

}

.panels-wrapper.active{
  display: flex;
}




#panels-group-5{
  padding-left: 10px;
  align-items: start;
}

.panel{
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  box-shadow: 1px 1px 3px #333;
  max-height: 250px;
}

#panels-group-3 .panel,
#panels-group-4 .panel{
  width: 95%;
}

.panel .panel-title{
  display: flex;
  background-color: #999;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  /* font-size: 14px; */
  font-weight: bold;
  gap: 5px;
}

.panel-body{
  background-color: #eee; 
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2px;
  flex-wrap: wrap;
  /* font-size: 12px; */
 
}

#setpoint-panel,
#perturbation-panel{
  flex: 1;
}

#setpoint-panel .panel-body,
#perturbation-panel .panel-body{
  background-color: transparent; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#setpoint-panel .input-flex-col,
#perturbation-panel .input-flex-col{
  background-color: #eee;
  height: 100%;
} 

#setPointGraph,
#perturbGraph{ 
  flex:1;
  background-color: none;
  height: 100%;
  /* background-color: red; */

}.input-flex-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


input[type=checkbox]{
  cursor: pointer;

}

.input-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
  /* font-size: 14px; */
}

.input-wrapper input{
  width: 45px;
  border: 0;
  border-bottom: 2px solid black;
  background: none;
  outline: none;
  text-align: center;
}

.input-wrapper input:disabled,
.input-wrapper label.disabled{
  color: #888;
  border-color: transparent;
}

.input-wrapper input:disabled{
  width: 50px;
}


.panel-title select{
  width: 100%;
  font-weight: bold;
  background-color: #999;
  border: none;
  /* font-size: 14px; */
}


.panelCheckBoxes{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  gap: 20px;

}

/* label[for=input-freqCorte]{
  font-size: 10px;
} */


.variables-nav{
  /* font-size: 12px; */
  width: 100%;
}
#mobile-nav{
  border-style: outset;
}

#panels-nav{
  border-style: outset;
  border-bottom-width: 0px;
}

.variables-nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 2px 5px; 
}

.variables-nav ul li{
  color: #aaa;
  border-bottom: 2px solid #333;
  cursor: pointer;
}

.variables-nav ul li:hover{
  border-bottom: 2px solid #aaa;
}

.variables-nav ul li.active{
  color: #fff;
  border-bottom: 2px solid #fff;
}

#controllerCheckBoxes{
  display: flex;
  align-items: center;
}
/* #controllerCheckBoxes label,
#controllerCheckBoxes input{
  font-size: 10px;
} */

@media (max-width:850px) {
  
  

  /* #dynamometer{
    height: 30%;
    margin-top: 0px;

  } */
  #controller-actuator-outputs{
   flex: 1;
  }

  #auto-man-checkboxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 2px 2px 2px;
  }
}
