#scale-container{
    height: var(--scale-height);
    display: flex;
    flex-direction: column;
}

#scale-top{
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  
}

/* #scale-bottom{

} */


@media (max-width:850px) {
  #scale-top{
    justify-content: flex-start;
    align-items: start;
  }

}